// variables
// $urgent:#76160c;
// $high:#4f91a5;
// $mid:#78e6d7;
// $low:#c5eedc;

$urgent:#35485E;
$high:#4f91a5;
$mid:#78e6d7;
$low:#c5eedc;

// $urgent:#35485E;
// $high:#6aa8bb;
// $mid:#50c793;
// $low:#bbeed8;

// $urgent:#d00000;
// $high:#fd8300;
// $mid:#3FB883;
// $low:#fff700;

$vueGreen:#3FB883;
$vueBlue:#35485E;

