


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 95vw;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 10px 0;

  section{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

#nav {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-weight: bold;
    color: #2c3e50;
    font-size: 10px;
    margin: 0 5px;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.header{
  display: flex;
  align-items: center;

  img{
    height: 50px;
  }
}